/** RESET OF DEFAULT STYLE OF PAGE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** HEADER */
header {
  height: 100px;
}

/** MAIN */
main {
  min-height: calc(100vh - 200px);
  background-color: #b1b1b1;
}

/** FOOTER */
footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
  font-size: 0.8em;
}

footer > div {
  width: 80%;
}

/** LAYOUT ROWS */
.row {
  min-height: calc(100vh - 200px);
}

/** CARD COMPONENT */
.card {
  background-color: white;
  padding: 2px;
  margin: 15px;
}

.card img {
  object-fit: cover;
  height: 150px;
  width: 100%;
}

.card-body {
  height: 280px;
}

.card-text {
  height: 55%;
}